body{
    background-color: rgb(218, 219, 247);
}
.grid-container{
 
        display: grid;
        gap: 20px;
       
        padding: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
       "box1 box1 box2 box3 "
       "box1 box1 box2 box3"
       "box4 box5 box5 box3"
      
      }
      .box1{
        background-color:blueviolet;
       background-image: url(images/bg-pattern-quotation.svg);
       background-repeat: no-repeat;
      background-position: top right 150px;
      background-position: bottom 30px;
        padding-top: 10px;
        padding-left: 15px;
        color: white;
        border-radius: 10px;
        grid-area:box1;
        height: 350px;
        font-family: Arial, Helvetica, sans-serif;
        img {
            border-radius: 50%;
            border:2px solid purple
          }
          
        }
       
          
        
          .box2{
            background-color: rgba(60, 60, 90, 0.548);
            color: white;
            grid-area: box2;
            border-radius: 10px;
            height: 360px;
            font-family: Arial, Helvetica, sans-serif;
            img {
                border-radius: 50%;
              }
              @media screen {min-width: 480;
            
              }
      }
      .box3{
       
       background-color:white;
        text-align:left;
       grid-area: box3;
       color:black;
        border-radius: 10px;
        
        font-family: Arial, Helvetica, sans-serif;
        img {
            border-radius: 50%;
            
          }
    }
    .box4{
        background-color:white;
       
        grid-area:box4 ;
        
        border-radius: 10px;
        height: 350px;
        font-family: Arial, Helvetica, sans-serif;
        img {
            border-radius: 50%;
          }
    }
    .box5{
        background-color:rgb(25, 25, 54);
        color: white;
        border-radius: 10px;
        height: 350px;
        grid-area: box5;
        font-family: Arial, Helvetica, sans-serif;
        img {
            border-radius: 50%;
            border:2px solid purple
          } 
    }
     .jon{
        font-size: 20px;
        padding-left: 90px;
        margin-top: -50px;
     }
      .verified2{
        font-size: 10px;
        padding-left: 95px;
        margin-top: -10px;
        color:  rgb(201, 201, 201);
      }
      .person2{
        padding-left: 20px;
        padding-top: 20px;
      }
      .parajon1{
        font-size: 20px;
        padding-left: 20px;
        padding-right: 30px;
      }
      .parajon2{
        font-size: 15px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 30px;
       padding-bottom: 40px;
       color: rgb(201, 201, 201) ;
      }
      .dani{
        font-size: 20px;
        padding-left: 70px;
        margin-top: -50px;
     }
      .verified1{
        font-size: 10px;
        padding-left: 70px;
        margin-top: -10px;
        color:  rgb(201, 201, 201);
      }
      .person1{
        padding-left: 20px;
        padding-top: 20px;
      }
      .paradani1{
        font-size: 20px;
       padding-left: 30px;
        padding-right: 10px;
      }
      .paradani2{
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
       padding-bottom: 40px;
       color: rgb(201, 201, 201) ;
      }
      .jean{
        font-size: 20px;
        padding-left:95px;
        margin-top: -50px;
     }
      .verified4{
        font-size: 10px;
      padding-left: 95px;
        margin-top: -10px;
        color:  rgb(201, 201, 201);
      }
      .person4{
        padding-left: 20px;
        padding-top: 20px;
      }
      .parajean1{
        font-size: 20px;
     padding-left: 30px;
        padding-right: 70px;
      }
      .parajean2{
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
       padding-bottom: 40px;
       color: rgb(201, 201, 201) ;
      }
      .Patrick{
        font-size: 20px;
        padding-left:95px;
        margin-top: -50px;
     }
      .verified5{
        font-size: 10px;
      padding-left: 95px;
        margin-top: -10px;
        color:  rgb(201, 201, 201);
        opacity: 0.5;
      }
      .person5{
        padding-left: 20px;
        padding-top: 20px;
      }
      .parapatrick1{
        font-size: 20px;
     padding-left: 30px;
        padding-right: 70px;
      }
      .parapatrick2{
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
       padding-bottom: 40px;
       color: rgb(201, 201, 201) ;
       opacity: 0.5;
      }
      .kira{
        font-size: 20px;
        padding-left:95px;
        margin-top: -50px;
     }
      .verified3{
        font-size: 10px;
      padding-left: 95px;
        margin-top: -10px;
        color:  rgb(201, 201, 201);
      }
      .person3{
        padding-left: 20px;
        padding-top: 20px;
      }
      .parakira1{
        font-size: 20px;
     padding-left: 30px;
        padding-right: 70px;
      }
      .parakira2{
        font-size: 15px;
        padding-left:30px;
        padding-right: 50px;
       padding-bottom:20px;
       color: rgb(201, 201, 201) ;
      }
   
      .style{
        border-color: antiquewhite 20px;
      }
@media(max-width:360px){
  
  .box1{
  grid-column: 12;
  grid-row: 1;
  font-size: 10px;
  height: fit-content;
margin-left: -220px;
padding-top: 0x;
padding-left: 0px;
  
  }
  .box2{
    grid-column: 12;
    grid-row: 2;
    font-size: 10px;
  height: fit-content;
  margin-left: -220px;
    }
    .box3{
      grid-column: 12;
      grid-row: 5;
      font-size: 10px;
  height: fit-content;
  margin-left: -220px;
      }
      .box4{
        grid-column: 12;
        grid-row: 3;
        font-size: 10px;
  height: fit-content;
  margin-left: -220px;
        }
        .box5{
          grid-column: 12;
          grid-row: 4;
          font-size: 10px;
  height: fit-content;
  margin-left: -220px;
  
          }
        
}
@media(max-width:768px){
  
  .box1{
  grid-column: 12;
  grid-row: 1;
  font-size: 20px;
  height: fit-content;
margin-left: -220px;
padding-top: 0x;
padding-left: 0px;
  
  }
  .box2{
    grid-column: 12;
    grid-row: 2;
    font-size: 10px;
  height: fit-content;
  margin-left: -220px;
    }
    .box3{
      grid-column: 12;
      grid-row: 5;
      font-size: 10px;
  height: fit-content;
  margin-left: -220px;
      }
      .box4{
        grid-column: 12;
        grid-row: 3;
        font-size: 10px;
  height: fit-content;
  margin-left: -220px;
        }
        .box5{
          grid-column: 12;
          grid-row: 4;
          font-size: 10px;
  height: fit-content;
  margin-left: -220px;
  
          }
        
}